<div class="content">

  <form class="form" [ngClass]="{'form-acitve' : selected == true}">

    <div class="form__field">
      <span>Name</span>
      <input type="text" [(ngModel)]="user.name" name="name">
    </div>
    <div class="form__field">
      <span>Job</span>
      <input type="text" [(ngModel)]="user.job" name="job">
    </div>
    <div class="form__field">
      <span>Email</span>
      <input type="text" [(ngModel)]="user.email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" #email="ngModel">
      <div *ngIf="!email.valid"> not valid </div>
    </div>
    <div class="form__field">
      <span>Phone</span>
      <input type="text" [(ngModel)]="user.phone" name="phone">
    </div>
    <div class="form__field">
      <span>Description</span>
      <textarea [(ngModel)]="user.description" name="description"></textarea>
    </div>
  </form>

  <div class="container" [ngClass]="{'container-active' : selected == true}">

    <header class="header">
      <span class="header__hamburger" (click)="selected == true ? selected = false : selected = true" [ngClass]="{'header_hamburger-active' : selected == true}">
      </span>
      <div class="header__intro">
        <h2>{{ user.name }}</h2>
        <h3>{{ user.job }}</h3>
      </div>
    </header>

    <div class="output">
      <div class="output__data">
        <span><p>Name</p></span>
        <h4>{{ user.name }}</h4>
      </div>
      <div class="output__data">
        <span><p>Email</p></span>
        <h4>{{ user.email }}</h4>
      </div>
      <div class="output__data">
        <span><p>Description</p></span>
        <h4>{{ user.description }}</h4>
      </div>
      <div class="output__data">
        <span><p>Phone</p></span>
        <h4>{{ user.phone }}</h4>
      </div>
    </div>

  </div>
</div>
